* {
    margin: 0;
    border: 0;
    list-style-type: none;


}


header {
    background: linear-gradient(45deg, #FF2CAA 0%, #ffff01 100%);
    display: flex;
    height 150px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.header-container {
    display: flex;
}

main {
    display: flex;

}

.nav-bar {
    display: flex;
    flex-direction:row;
    margin-right: 10px;
    border-bottom: 2px solid yellow;
}
/* TODO: Align nav items */
.nav-item {
    padding: 2%;
    text-align: center;

}

.splash-image {
    border-top: 2px solid yellow;
    background-image: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    position:relative;
    height: 200px;
    
}

.splash-image h2 {
    color: #ffff01;
    text-align: right;
    position: absolute;
    bottom: 8px;;
    right: 16px;
}


.about-me {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 1%;
    border: 10px solid darkblue;
    margin: 15px;
    
}


/* TODO: Move About Me to the middle of section */
.about-me h2 {
    text-align: center;

}
.about-me aside {
    padding: 1%;
    border-left: 2px solid yellow;

}

.work-cards {
    display: flex;
    padding: 1%;

}
.work-showcase {
    width: 80%;
    padding: 1%;
    margin: 1%;

}
.all-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
    border: 10px solid darkblue;
}
.work-title {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 1%
    margin: 1%
}
.work-side {
    display: flex;
    min-height: 200px;
    align-items: center;
    justify-content: center;
    padding: 1%;
    margin: 1%;
    border: 10px solid darkblue;



}
.work-side {
    width: 40%
}

.contact-me {
    background: linear-gradient(45deg, #FF2CAA 0%, #ffff01 100%);
    display: flex;
    height 150px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-me-nav {

}

